{% extends 'core/main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color: #B3E5FC;">
{% block content %}
  <br><br><br>
<h3 style="text-align:center;">“We are a dedicated company to serving our 
customer's need always” </h3>
<br><br><br><br><br><br><br><br><br>
<h2 style="text-align:center;">"send us any feedback at medantoo@gmail.com"</h2>
{% endblock content %}
</body>


</html>